@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Onest:wght@200;400&display=swap');

@import './estilo.css';
@import './responsivo.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}